tools/
htdocs/tests/config.php
htdocs/themes/default/js/localization/translator.js
htdocs/themes/default/js/localization/md5.min.js
htdocs/themes/default/js/localization/locale-de.js
htdocs/themes/default/js/localization/cachekey.txt
htdocs/config/config-env-local.php
htdocs/config/config-env-test.php
htdocs/config.php
